Web/Service References/OrderService/OrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/OrderManager.Service/OrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/OrderManager.Service/OrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/OrderManager.Service/OrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_GetOrderList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderList" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrderList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderListResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrderItemList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderItemList" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrderItemList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderItemListResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="GetOrderList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrderList" message="tns:IOrderService_GetOrderList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrderListResponse" message="tns:IOrderService_GetOrderList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderItemList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrderItemList" message="tns:IOrderService_GetOrderItemList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrderItemListResponse" message="tns:IOrderService_GetOrderItemList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderService" type="tns:IOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderList">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrderList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderItemList">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrderItemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="BasicHttpBinding_IOrderService" binding="tns:BasicHttpBinding_IOrderService">
      <soap:address location="http://localhost/OrderManager.Service/OrderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>