Web/Service References/UserService/UserService44.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OrderManager.Model.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OrderManager.Model.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56280/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" />
  <xs:import schemaLocation="http://localhost:56280/UserService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="OM_UserDetail">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" minOccurs="0" name="Role" nillable="true" type="q1:OM_Role" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" minOccurs="0" name="User" nillable="true" type="q2:OM_User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OM_UserDetail" nillable="true" type="tns:OM_UserDetail" />
  <xs:complexType name="ArrayOfOM_LogDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OM_LogDataObject" nillable="true" type="tns:OM_LogDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOM_LogDataObject" nillable="true" type="tns:ArrayOfOM_LogDataObject" />
  <xs:complexType name="OM_LogDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDatetime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Doc_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Doc_View" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OM_LogDataObject" nillable="true" type="tns:OM_LogDataObject" />
  <xs:complexType name="OM_SalesOrderDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocDueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocEntry" type="xs:int" />
      <xs:element minOccurs="0" name="DocStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteNotice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" minOccurs="0" name="SalesOrderLine" nillable="true" type="q3:ArrayOfOM_OrderItem" />
      <xs:element minOccurs="0" name="TPLCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TPLContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TPLOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TPLPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="User_Guid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OM_SalesOrderDataObject" nillable="true" type="tns:OM_SalesOrderDataObject" />
  <xs:complexType name="ArrayOfOM_ProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OM_ProductInfo" nillable="true" type="tns:OM_ProductInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOM_ProductInfo" nillable="true" type="tns:ArrayOfOM_ProductInfo" />
  <xs:complexType name="OM_ProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChildNode" nillable="true" type="tns:ArrayOfOM_ProductInfo" />
      <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Price" nillable="true" type="q4:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OM_ProductInfo" nillable="true" type="tns:OM_ProductInfo" />
</xs:schema>