Web/Service References/UserService/UserService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6329/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OrderManager.Model.DTO" />
  <xs:import schemaLocation="http://localhost:6329/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OrderManager.Model.DTO" minOccurs="0" name="LoginResult" nillable="true" type="q1:OM_UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OrderManager.Model.DTO" minOccurs="0" name="GetCurrentUserLogsResult" nillable="true" type="q2:ArrayOfOM_LogDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" minOccurs="0" name="GetCurrentUserListResult" nillable="true" type="q3:ArrayOfOM_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" minOccurs="0" name="GetUserResult" nillable="true" type="q4:OM_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMessageBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" minOccurs="0" name="msgBoard" nillable="true" type="q5:OM_MessageBoard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMessageBoardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMessageBoardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserMessageBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserMessageBoardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" minOccurs="0" name="GetCurrentUserMessageBoardResult" nillable="true" type="q6:ArrayOfOM_MessageBoard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageBoardModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageBoardModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" minOccurs="0" name="GetMessageBoardModelResult" nillable="true" type="q7:OM_MessageBoard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" minOccurs="0" name="GetOrderListResult" nillable="true" type="q8:ArrayOfOM_Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSalesOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/OrderManager.Model.DTO" minOccurs="0" name="obj" nillable="true" type="q9:OM_SalesOrderDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSalesOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSalesOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalesOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/OrderManager.Model.DTO" minOccurs="0" name="obj" nillable="true" type="q10:OM_SalesOrderDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalesOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesOrderAndDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salesOrder_Guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesOrderAndDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/OrderManager.Model.DTO" minOccurs="0" name="GetSalesOrderAndDetailResult" nillable="true" type="q11:OM_SalesOrderDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentSalesOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentSalesOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" minOccurs="0" name="GetCurrentSalesOrderListResult" nillable="true" type="q12:ArrayOfOM_Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentProducePriceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentProducePriceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" minOccurs="0" name="GetCurrentProducePriceListResult" nillable="true" type="q13:ArrayOfOM_ProductPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserByCardCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserByCardCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" minOccurs="0" name="GetCurrentUserByCardCodeResult" nillable="true" type="q14:ArrayOfOM_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/OrderManager.Model.DTO" minOccurs="0" name="GetProductListResult" nillable="true" type="q15:ArrayOfOM_ProductInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductListCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductListCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductListCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalesOrderStatusByCommit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalesOrderStatusByCommitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalesOrderStatusByToSAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalesOrderStatusByToSAPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>